/Makefile
/build-gnulib
/gdb-gdb.gdb
/gdb-gdb.py
/init.l-tmp
/nm.h

/version.c
/xml-builtin.c

/ada-exp.c
/ada-lex.c
/c-exp.c
/cp-name-parser.c
/d-exp.c
/f-exp.c
/gdb
/gdbtui
/gcore
/go-exp.c
/init.c
/jit-reader.h
/jv-exp.c
/m2-exp.c
/objc-exp.c
/observer.inc
/p-exp.c
/rust-exp.c

/doc/gdb-cfg.texi
/doc/GDBvn.texi
/doc/*.1
/doc/*.5
/doc/version.subst
